{% load staticfiles %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="probootstrap-footer-widget">
                <h3>About</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic
                    country, in which roasted parts of sentences fly into your mouth.</p>
                <p>
                    <a href="#" class="link-with-icon">Learn More
                        <i class=" icon-chevron-right"></i>
                    </a>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="probootstrap-footer-widget">
                <h3>Blog</h3>
                <ul class="probootstrap-blog-list">
                    <li>
                        <a href="#">
                            <figure>
                                <img src="{% static 'img/img_2.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                            </figure>
                            <div class="text">
                                <h4>River named Duden flows</h4>
                                <p>A small river named Duden flows by their place</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <figure>
                                <img src="{% static 'img/img_3.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                            </figure>
                            <div class="text">
                                <h4>River named Duden flows</h4>
                                <p>A small river named Duden flows by their place</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <figure>
                                <img src="{% static 'img/img_2.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                            </figure>
                            <div class="text">
                                <h4>River named Duden flows</h4>
                                <p>A small river named Duden flows by their place</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="probootstrap-footer-widget">
                <h3>Contact</h3>
                <ul class="probootstrap-contact-info">
                    <li>
                        <i class="icon-location2"></i>
                        <span>198 West 21th Street, Suite 721 New York NY 10016</span>
                    </li>
                    <li>
                        <i class="icon-mail"></i>
                        <span>info@domain.com</span>
                    </li>
                    <li>
                        <i class="icon-phone2"></i>
                        <span>+123 456 7890</span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="row mt40">
        <div class="col-md-12 text-center">
            <ul class="probootstrap-footer-social">
                <li>
                    <a href="">
                        <i class="icon-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-instagram2"></i>
                    </a>
                </li>
            </ul>
            <p>
                <small>&copy; 2017
                    <a href="https://uicookies.com/" target="_blank">uiCookies:Sublime</a>. All Rights Reserved.
                    <br> Designed &amp; Developed by
                    <a href="https://uicookies.com/" target="_blank">uicookies.com</a> Demo Images: Unsplash</small>
            </p>

        </div>
    </div>
</div>